body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,156,187,1) 100%);
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.topbar
{ 
  background-color: #020024;
  height: 10vh;
  border-bottom: 4px solid rgb(167, 240, 255);
}

.topbar ul
{
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 10px;
  margin: 0px;
}

.topbar ul a
{
  text-decoration:  none;
  color: white;
  font-weight: 500;
  text-shadow: 1px 1px 5px black;
  font-size: .85em;
  padding: 20px;
}

.topbar ul a:hover
{
  -webkit-text-stroke: .5px red;
  stroke: .5px red;
    font-size: 1.1em;
    border-bottom: 2px solid rgb(167, 240, 255);
}

h1{
  color: white;
}

.videoHolder
{
  display: flex;
}

.card
{
 box-shadow: 2px 2px 7px #71d7ff;
  margin: 20px;
  width: 25%;
  border-radius: 7%;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 7px black;
  background-color: #2B2826;
  justify-content: center;
  justify-items: center;
  align-items: center;
  font-size: .7em;
}

.video
{
  width: 85%;
  height: 220px;
  padding: 1em;
  border: 0;
}

.video:hover
{
  transform: scale(1.1);
}
.pic
{
  width: 85%;
  max-height: 20em;
  border-radius: 20%;
  padding: 1em;
}

.pic:hover
{
  transform: scale(1.1);
}

iframe, object, embed {
  max-width: 100%;
}

.loginPanel
{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;  
}

table
{
  border: 1px dotted #ccc;
  background-color: #020024;
  margin-bottom: 5%;
}

th
{
  color: red;
  text-align: center;
  text-shadow: 1px 1px 2px black;
}

td
{
  padding: 2vw;
  color: white;
  font-size: .5em;
  text-shadow: 1px 1px 2px black;
  width: 400px;
}

.addmenuHolder
{
  margin-top: 10%;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  color: wheat;
  text-shadow: 1px 1px 4px black;
  justify-content: center;
}

.addMenu
{
  padding: 7px;
  margin: 4px;
}

.add_button
{
  margin-top: 1%;
  width: 10%;
  background-color: skyblue;
  border: none;
  box-shadow: 1px 1px 7px #000000;
  border-radius: 7%;
  height: 5vh;
}

.searchBox
{
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.tableHolder
{
  display: flex;
  width: 100%;
  justify-content: center;
}

.addNewBtn
{
  height: 5vh;
  width: 10vw;
  position: fixed;
  color: rgb(255, 254, 254);
  font-weight: 900;
  text-shadow: 1px 1px 5px black;
  background-color: #0200243b;
  border: 1px dashed skyblue;
  bottom:50%;
  text-align: center;
  text-decoration: none;
  padding: 10px; 
}

.homeInfo
{
    display: flex;
    color: wheat;
    justify-content: center;
    margin-top: 10%;
    text-shadow: 1px 1px 5px black;
    text-align: center;
  }
  
  .homeInfo p{
    border: 4px dotted #ccc;
    padding: 10px;
    font-size: 1.2em;
    animation: animateBorder 2s infinite;
    background-color: #00030330;
}

@keyframes animateBorder
{
  25%{
    border: 4px dotted #ff0707;
  }
  50%{
    border: 4px dotted #fdfdfd;
  }

  75%{
    border: 4px dotted #ffb007;
  }
  100%{
    border: 4px dotted #0ff802;
  }
}

.bottom
{
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: fit-content;
  color: white;
  background-color: #02002478;
  text-align: center;
}

.editBtn
{
  background-color: skyblue;
  box-shadow: 2px 2px 5px black;
  border: 0px;
  padding: 5px 15px;
}

.deleteBtn
{
  background-color: rgb(235, 138, 135);
  box-shadow: 2px 2px 5px black;
  border: 0px;
  padding: 5px 15px;
}

.upload
{
  padding: 20px 0px;
  color: #ff0707;
  font-weight: 900;
  text-shadow: 1px 1px 5px black;
}

.picPreview
{
  width: 25%;
  position: fixed;
  right: 0;
}